.p-home-news {
  background-color: $news_bg_gray;
  padding: $pd_sp;
  @include media(lg) {
    max-width: 1000px;
    margin: 0 auto;
    padding: $pd_pc;
  }
}

.p-home-news__list {
  padding: 20px 0 40px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
}

.p-home-news__link {
  border-bottom: 1px solid;
  display: block;
  padding: 10px 0;
  transition: opacity 0.4s ease;

  &:hover {
    opacity: 0.6;
    & .p-home-news__arrow {
      width: 60px;
      transform: translateX(0);
    }
  }
}

.p-home-news__date {
  display: inline-block;
  margin-bottom: 8px;
}

.p-home-news__title-box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.p-home-news__arrow {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: $base_black;
  transform: translateX(-20px);
  transition: transform 0.4s ease;

  &::after {
    content: '';
    position: absolute;
    right: -2px;
    top: -5px;
    background-color: inherit;
    display: inline-block;
    width: 20px;
    height: 1px;
    transform: rotate(30deg);
  }
}
